/*_____________________________________________________________________|
|______________________________________________________________________|
|        _   __   _   _ _   _   _   _         _                        |
|   |   |_| | _  | | | V | | | | / |_/ |_| | /                         |
|   |__ | | |__| |_| |   | |_| | \ |   | | | \_                        |
|    _  _         _ ___  _       _ ___   _                    / /      |
|   /  | | |\ |  \   |  | / | | /   |   \                    (^^)      |
|   \_ |_| | \| _/   |  | \ |_| \_  |  _/                    (____)o   |
|______________________________________________________________________|
|______________________________________________________________________|
|                                                                      |
|----------------------------------------------------------------------|
|   Copyright 2026, Rebecca Rashkin                                    |
|  -------------------------------                                     |
|   This code may be copied, redistributed, transformed, or built      |
|   upon in any format for educational, non-commercial purposes.       |
|                                                                      |
|   Please give me appropriate credit should you choose to use this    |
|   resource. Thank you :)                                             |
|----------------------------------------------------------------------|
|                                                                      |
|______________________________________________________________________|
|   //\^.^/\\  //\^.^/\\  //\^.^/\\  //\^.^/\\  //\^.^/\\  //\^.^/\\   |
|_____________________________________________________________________*/
/*  DESCRIPTION
/*  CSS style sheet for constants.
/*____________________________________________________________________*/

@import "flux-bunny-size-scale.css";

/*--------------------------------------------------------------------*/
/* CONSTANTS
/*--------------------------------------------------------------------*/
:root {

  --font-fam-header: 'DIN Neuzeit Grotesk', 'Trebuchet MS';
  --font-fam-normal: 'Consolas', monospace;

  /*------------------------------------------------------------------*/
  /* Dimensions
  /*------------------------------------------------------------------*/
  --sz-base: calc(var(--size-scale) * 08pt);
  --sz-smll: 8pt;
  --sz-titl: calc(var(--size-scale) * 14pt);

  --size-h1: var(--sz-titl);
  --size-h2: calc(var(--size-scale) * 10pt);
  --size-h3: calc(var(--size-scale) * 10pt);
  --size-h4: calc(var(--size-scale) * 08pt);
  --sz-code: calc(var(--size-scale) * 08pt);
  --pad-top: 20px;
  --bord-h2: 4px solid var(--flux-color-2);
  --bord-h3: 1px solid var(--flux-bg-bold);
}